/*common*/
/* COLORS */
/* font size */
/* font */
/* effect */
/* button */
/*panel-footer*/
/* line 6, ../../sass/screens/common.scss */
#panel-footer h2 {
  margin-bottom: 15px;
}
/* line 9, ../../sass/screens/common.scss */
#panel-footer .panel-column {
  margin-bottom: 30px;
}
/* line 11, ../../sass/screens/common.scss */
#panel-footer .panel-column:last-child {
  margin-bottom: 0;
}

/* line 18, ../../sass/screens/common.scss */
.logged-in #subscribe {
  width: 50%;
}

/* line 23, ../../sass/screens/common.scss */
#newsletter-subscribe-form {
  width: 50%;
}

/* line 28, ../../sass/screens/common.scss */
#footer .container {
  padding-top: 30px;
}
/* line 31, ../../sass/screens/common.scss */
#footer .block {
  width: 100%;
}

/*comment form*/
/* line 38, ../../sass/screens/common.scss */
.comment-form .form-item {
  float: none;
  width: auto;
}

/* line 43, ../../sass/screens/common.scss */
.filter-help {
  float: none;
  padding: 0;
}
/* line 46, ../../sass/screens/common.scss */
.filter-help a {
  padding-left: 0;
}

/* line 51, ../../sass/screens/common.scss */
.filter-wrapper .form-item {
  padding: 0;
}

/* line 55, ../../sass/screens/common.scss */
.filter-guidelines {
  float: none;
  padding: 0;
  margin-top: 15px;
}

/* end comment form */
/* nav */
/* line 64, ../../sass/screens/common.scss */
#header .region-header {
  margin-left: 10px;
}
/* line 67, ../../sass/screens/common.scss */
#header .navbar-toggle {
  border: none;
  border-radius: 0;
  margin: 25px 0 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: none;
  text-align: center;
}
/* line 76, ../../sass/screens/common.scss */
#header .navbar-toggle .icon-bar {
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
/* line 82, ../../sass/screens/common.scss */
#header .navbar-toggle:hover, #header .navbar-toggle:focus {
  color: white;
  background: none;
}

/* line 95, ../../sass/screens/common.scss */
.services-list .views-row-even .views-field-type-image:before {
  position: static;
  background: none;
}

/* line 102, ../../sass/screens/common.scss */
#main-menu {
  margin-bottom: 0;
}

/* line 105, ../../sass/screens/common.scss */
#main-menu-inner {
  float: none;
  border: none;
  top: 81px;
  z-index: 555;
  position: absolute;
  height: auto !important;
  right: 0;
  padding: 0;
  margin: 0;
  max-height: 20000px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  width: 0;
  overflow-x: hidden;
}
/* line 121, ../../sass/screens/common.scss */
#main-menu-inner .tb-megamenu {
  background-color: none;
}
/* line 124, ../../sass/screens/common.scss */
#main-menu-inner .region-main-menu {
  background: black;
  width: 250px;
  height: 100%;
}
/* line 129, ../../sass/screens/common.scss */
#main-menu-inner .region-main-menu li a {
  font-size: 1em;
}
/* line 135, ../../sass/screens/common.scss */
#main-menu-inner .menu ul.menu {
  background: none;
  display: block;
  position: static;
  border-top: none;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 144, ../../sass/screens/common.scss */
#main-menu-inner .menu ul.menu li {
  border-bottom: none;
}
/* line 147, ../../sass/screens/common.scss */
#main-menu-inner .menu ul.menu li a:hover, #main-menu-inner .menu ul.menu li a:focus {
  background: none;
  color: #d94949;
}

/* line 157, ../../sass/screens/common.scss */
#main-menu-inner.collapse.in {
  display: block !important;
}

/* line 162, ../../sass/screens/common.scss */
.tb-megamenu .nav > li {
  float: none;
  margin-left: 0;
  border-top: 1px solid #333333;
  min-height: 10px;
}
/* line 167, ../../sass/screens/common.scss */
.tb-megamenu .nav > li > a {
  background: none;
  color: #aaaaaa !important;
  padding: 12px 15px;
}
/* line 171, ../../sass/screens/common.scss */
.tb-megamenu .nav > li > a:hover, .tb-megamenu .nav > li > a:focus {
  background-color: none !important;
  color: #aaaaaa;
}
/* line 176, ../../sass/screens/common.scss */
.tb-megamenu .nav > li:first-child {
  border-top: none;
}
/* line 181, ../../sass/screens/common.scss */
.tb-megamenu .nav > .active > a {
  color: white !important;
}
/* line 190, ../../sass/screens/common.scss */
.tb-megamenu .nav > li.dropdown > .dropdown-toggle .caret {
  right: 15px;
  top: 10px;
}
/* line 193, ../../sass/screens/common.scss */
.tb-megamenu .nav > li.dropdown > .dropdown-toggle .caret:before {
  color: white;
}
/* line 200, ../../sass/screens/common.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  color: #aaaaaa;
}
/* line 203, ../../sass/screens/common.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret:before, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret:before, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret:before {
  color: #d94949;
}
/* line 211, ../../sass/screens/common.scss */
.tb-megamenu .mega > .mega-dropdown-menu {
  display: block;
}
/* line 216, ../../sass/screens/common.scss */
.tb-megamenu .dropdown-menu {
  position: static;
  float: none;
  top: auto;
  border-top: 1px solid #333333;
  box-shadow: none;
  background: black;
}
/* line 224, ../../sass/screens/common.scss */
.tb-megamenu .dropdown-menu li > a {
  color: #aaaaaa !important;
  border-color: #333333;
  margin-right: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 230, ../../sass/screens/common.scss */
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
  background: none !important;
}
/* line 236, ../../sass/screens/common.scss */
.tb-megamenu .dropdown-menu .active > a {
  color: white !important;
  background: none !important;
}
/* line 243, ../../sass/screens/common.scss */
.tb-megamenu .dropdown-menu .mega-nav > li a {
  margin-left: 0;
}
/* line 248, ../../sass/screens/common.scss */
.tb-megamenu .dropdown-menu .mega-nav .active > a {
  color: white !important;
  background: none !important;
}
/* line 254, ../../sass/screens/common.scss */
.tb-megamenu .dropdown-menu .mega-dropdown-inner {
  padding-left: 40px;
  padding-right: 20px;
}
/* line 261, ../../sass/screens/common.scss */
.tb-megamenu .mega-nav > li a {
  margin-left: 20px;
}
/* line 266, ../../sass/screens/common.scss */
.tb-megamenu .mega-nav .active > a {
  color: white !important;
  background-color: none !important;
}
/* line 273, ../../sass/screens/common.scss */
.tb-megamenu .mega-align-center > .dropdown-menu {
  left: auto;
  transform: none;
  -webkit-transform: none;
}
/* line 280, ../../sass/screens/common.scss */
.tb-megamenu .sub-hidden-collapse .caret, .tb-megamenu .dropdown .caret {
  display: block !important;
}
/* line 283, ../../sass/screens/common.scss */
.tb-megamenu .sub-hidden-collapse > .nav-child, .tb-megamenu .dropdown > .nav-child {
  display: block !important;
}
/* line 287, ../../sass/screens/common.scss */
.tb-megamenu .sub-hidden-collapse .tb-megamenu-item a, .tb-megamenu .dropdown .tb-megamenu-item a {
  text-transform: inherit;
}
