body{
	background-color: #111111;
}
.headline .block{
	width: 100%;
}
.headline .block p{
	float:right;
	color: #666666;
}
.headline a{
	color: #666666;
}
.headline a:hover{
	color: #ffffff;
}
#panel-footer h2{
	margin-bottom: 0;
}
#panel-footer ul.menu{
	margin-bottom:27px;
	float:left;
	margin-top: 14px;
}
#panel-footer ul.menu li{
	float:left;
	margin-right: 15px;
}
#panel-footer .copyright{
	float:left;
}
#panel-footer .copyright img{
	padding-right: 10px;
}
#panel-footer .copyright a{
	color: #00A5B0;
}
#panel-footer .copyright a:hover{
	color: #ffffff;
}
#breadcrumb{
	height: 33px;
}

.properties-grid-page .views-field-title{
	margin-top: -10px !important;
	margin-bottom: 10px !important;
}
.icon_pdf{
	background:url('../img/elements/icon_pdf.png') center center no-repeat transparent;
	width: 30px;
	height: 30px;
	position:absolute;
	top:10px;
	right:-10px;
}
.icon_pdf_leasing{
	width: 50px;
	height: 50px;
	position:absolute;
	bottom:0;
	right:20px;
}
.icon_pdf_leasing .icon{
	background:url('../img/elements/icon_pdf.png') center center no-repeat transparent;
	width: 30px;
	height: 30px;
}

.icon_pdf_leasing{
	width: 50px;
	height: 50px;
	position:absolute;
	bottom:0;
	right:20px;
}
.view_leasing{
	width: 30px;
	height: 30px;
	position:absolute;
	right:10px;
	color:#00A5B0 !important;
}
.view_leasing:hover{
	color:#333333 !important;
}
.leasing_sidebar h2{
	width: 100%;
	position:relative;
	margin-top: 10px;
	margin-bottom:10px;
}
.leasing_sidebar p{
	margin-bottom: 10px;
}
form h3{
	margin-top:15px;
}
form select{
	height: 43px;
}
.leasing_sidebar form{
	padding:0;
}
.leasing_sidebar .contact-form .contact-form-group{
	width: 100%;
}
.leasing_sidebar .contact-form .contact-form-group .form-text{
	width: 100%;
}
#contact_map_container{
	height: 250px;
	overflow:hidden;
	position:relative;
}
#contact_map_container iframe{
	position:absolute;
	width: 100%;
	margin-top:-160px;
	height: 600px;
}

.front #title-wrapper{
	display:block;
}
#title-wrapper{
	background-color:#ccc;
}
.type-6 #title-wrapper{
	position:relative;
	z-index:20;
	margin-bottom: -250px;
	background-image:none !important;
	background-color: transparent !important;
}
.footer_finetext{
	margin-top: 30px;
}
address{
	margin-bottom: 0;
}
.copyright_icons{
	float:right;
}
#servicealarm{
	width: 100%;
	margin-bottom: -10px;
}
.contact-form .form-textarea{
	height: 124px;
}
.servicealarm_label{
	margin-top:15px;
}
span.success{
	color:#00A5B0;
	display:block;
	margin-top:-30px;
}
.slides h3{
	margin-bottom: 0;
}
.green_theme #logo,
.green_theme .form-submit{
	background-color: #B9D535;
}

.orange_theme #logo,
.orange_theme .form-submit{
	background-color: #ec6d12;
}

#logo img{
	height: 100%;
}
.amenities h3{
	font-size: 1em;
	border-bottom: 2px solid #333333;
	padding-bottom: 15px;
	text-transform: uppercase;
	margin-top: 20px;
}
.amenities.contact h3{
	margin-bottom: 20px;
}
#slideshow_text{
	display:none;
	background-color:white;
	padding: 20px 30px;
}
#slideshow_text p{
	margin: 0;
}
#slideshow_text h3{
	margin: 0;
}
@media (max-width:991px){
	#panel-footer ul.menu{
		margin-bottom: 0;
	}
	#panel-footer .footer_finetext .panel-column{
		margin-bottom: 0;
	}
	.copyright img{
		display:block;
	}
	.copyright_icons{
		float:left;
		clear:both;
		display:block;
	}
	#main .sidebar{
		margin-top: 0;
	}
	#main .section .container{
		padding-top: 30px;
	}
	#main .sidebar .block {
		padding-top: 0;
	}
	.properties-grid-page .grid, #content .views-view-grid .grid{
		min-height: 230px;
	}
}
@media (max-width:800px){
	.slideshow .fieldset-content{
		display:none;
	}
	#slideshow_text{
		display:block;
	}
}
@media (max-width:530px){
	.views-view-grid .property-info-group .views-field-field-bedrooms{
		float:left !important;
		clear:both !important;
		margin-left:0 !important;
	}
	.views-view-grid .property-info-group .views-field-field-bathrooms{
		float:left !important;
	}
}

#header nav ul li ul{
	display:none;
	position:absolute;
	background-color:white;
}
#header nav ul li:hover ul{
	display:block;
	padding:0;
}
#header nav ul li ul li{
	list-style-type:none;
	text-align:center;
	text-transform:uppercase;
	padding: 10px 5px;
	border-top: 1px solid #bbb;
}
#header nav ul li ul li a{
	padding: 10px 5px;
	font-size: 11px;
}
#header nav ul li.active ul li a{
	color: #333333;
}
#header nav ul li.active ul li.active a,
#header nav ul li.active ul li:hover a{
	color: #00A5B0;
}
@media (max-width:991px){
	#header nav ul li ul{
		position: relative;
		background-color: black;
		padding-left:0;
	}
	#header nav ul li ul li{
		text-align: right;
		border-color: #333333; 
	}
}
#panel-footer ul.menu li ul li{
	float:none;
} 
.views-field-field-image img{
	width: 100%;
}
#properties .views-field-title{
	font-size: 15px;
}
#content.property_detail{
	background-color:white;
	padding: 30px 15px 15px 15px;
}
.leasing_sidebar img{
	margin: 0 auto;
	display:block;
	padding-top: 15px;
	padding-bottom: 15px;
}
#map_canvas{
	height: 400px; 
}
.info-box{
	height: 50px;
}
.gm-style-iw{
	min-height: 100px !important;
	height: 165px !important; 
}
.gm-style-iw div{width: 100%;}
#map_canvas img{
	max-width: auto !important;  
}
#investors{
	padding: 20px 15px 15px 15px;
	background-color: white;
} 
#investors h3{
	margin-bottom: 25px;
}
#investors .success,
#investors .fail{
	position:absolute;
	margin-top: -65px;
}
#sidebar-first h3{
	margin-bottom: 25px;
}
.team_title{
	margin-top: -5px;
	margin-bottom: 7px;
	color: #333;
}
.team_readmore a{
	color: #00A5B0 !important;
	float:right;
}
.back_button{
	float:right;
	margin-top: -25px;
}
.team .region .region-panel-second{
	margin-left:-15px;
	padding-right: 15px;	
}
@media (max-width:991px){
	.team #content .agent-type .views-view-grid .grid{
		width: 100% !important;
		margin-bottom: 0;
		margin-left: 15px;
		padding-right: 0;
	}
}
.property_detail .back_button,
.property_map .back_button{
	margin-top:-73px;
	margin-right: 30px;
}
#content img {
	width: 100%;
}
body.corporate.type-1 .content p{
	font-size: 16px;
}
body.corporate.type-1 .slides .field-content{
	max-height: 350px;
	overflow:hidden; 
}
body.corporate .footer_finetext{
	margin-top: 0;
}
.footer_finetext p{
	font-size: 13px;
}
body.corporate #panel-footer ul.menu{
	margin-bottom: 15px;
}
body.corporate #panel-footer .container{
	padding-top: 17px !important;
	padding-bottom: 0; 
}
body.corporate #main{
	background-color: white;
}
#title-wrapper .container{
	min-height: 200px; 
}
#content .views-view-grid .grid-inner, .properties-grid-page .grid-inner{
	border: 1px solid #ddd;
}
.team #panel-second .container{
	padding-top: 20px;
}
.team_title h1{
	margin-left: -3px;
	margin-bottom: 0 !important;
}
.property_detail h1{
	margin-bottom: 10px;
}
.property_detail .sidebar .block{
	margin-bottom: 0;
	margin-top: 20px;
}
#flexslider-1{
	max-height: 350px;
	overflow:hidden;
}
.leasing_sidebar .homekey img{
	max-width: 20px;
	float:left;
	margin-left:17px;
	margin-right: 4px;
	padding: 0;
} 
@media(max-width:991px){
	.leasing_sidebar{
		padding-top: 30px;
	}
}

address a{
	color: #00A5B0 !important;
}
#galleria{ width: 100%; height: 450px; background: #000 }

#push-me {
	padding-right: 10px;
}

.footer-logo {
	width: 72px;
	height: 72px;
}