<section id="breadcrumb" class="section">
	<div class="container">
        <h2></h2><div class="breadcrumb"></div>        
    </div>
</section>
<section id="panel-footer" class="section">
	<div class="container">
        <div class="row">
    	    [[*context_key:isnot=`c`:then=`
          	<div class="panel-column col-lg-4 col-md-4 col-sm-12 col-xs-12 panel-footer-1">
        		<div class="grid-inner clearfix">
                    <div class="region region-panel-footer-1">
    					<div id="block-block-2--2" class="block block-block">
    						<h2>Contact details</h2>
  							<div class="content">
								<address class="contact-info">
								<p><i class="fa fa-phone"></i>Office: [[++[[*context_key]]phone]]</p>
								[[++[[*context_key]]fax:isnt=``:then=`
									<p><i class="fa fa-phone-square"></i>Fax: [[++[[*context_key]]fax]]	</p>
								`]]
								[[++[[*context_key]]email:isnt=``:then=`
									<p><i class="fa fa-envelope-o"></i>Mail: <a href="mailto:[[++[[*context_key]]email]]" title="[[++[[*context_key]]email]]">[[++[[*context_key]]email]]</a></p>
								`]]
								</address>
	  						</div>
						</div>
					</div>
                </div>
      		</div>
            `]]
            <div class="panel-column col-lg-6 col-md-6 col-sm-12 col-xs-12 panel-footer-3">
        		<div class="grid-inner clearfix">
                    <div class="region region-panel-footer-3">
    					<div id="block-menu-menu-pages--2" class="block block-menu">
							<div class="content">
  								[[!Wayfinder? &startId=`0` &level=`1` &outerClass=`menu` &rowClass=`leaf`]]<br />
    						</div>
						</div>
  					</div>
                </div>
      		</div>    
        </div>
        <div class="row footer_finetext">
	        <div class="panel-column col-lg-4 col-md-4 col-sm-12 col-xs-12">
		        <p>[[++cfooterp1]]</p>
	        </div>
	        <div class="panel-column col-lg-4 col-md-4 col-sm-12 col-xs-12">
		        <p>[[++cfooterp2]]</p>
	        </div>
	        <div class="panel-column col-lg-4 col-md-4 col-sm-12 col-xs-12">
		        <p>[[++cfooterp3]]</p>
	        </div>
        </div><!--/.row-->
        <div class="row">
	        <div class="col-lg-12">
		       	<p class="copyright">
		       		<!-- image below had width of 140px initially -->
		       		<img style="padding-right: 14px;" src="/assets/img/elements/logo_uswc.png" width="100%" />
		       		<div>
		       			<p>
		       			<span style="color:#EC6D12;">
		       				Houston Office: <a href="tel:832-834-5355" style="color:#EC6D12;">832-834-5355</a><br /> 
		       				Dallas Office: <a href="tel:214-969-7277" style="color:#EC6D12;">214-969-7277</a><br />
		       			</span>
		       				&copy;[[current_year]] Urban Southwest. All Rights Reserved. Website Design by <a href="http://www.keystoneresources.com" style="color:#F58D44;">Keystone Resources</a>
			            	[[*context_key:is=`p1`:then=`
							<a target="_blank" href="[[~14]]">Privacy Policy</a>.
							`]]
							[[*context_key:is=`p2`:then=`
							<a target="_blank" href="[[~32]]">Privacy Policy</a>.
							`]]
							[[*context_key:is=`p3`:then=`
							<a target="_blank" href="[[~41]]">Privacy Policy</a>.
							`]]
							[[*context_key:is=`p4`:then=`
							<a target="_blank" href="[[~50]]">Privacy Policy</a>.
							`]]
						</p>
					</div>
		        </p>
		        <p class="copyright_icons"><img src="/assets/img/elements/icon_housing_30x30.png" /> 
		        	<img src="/assets/img/elements/icon_handicap_30x30.png" />
		        </p>
	        </div>
        </div><!--/.row-->
    </div>
</section>
<a title="Back to Top" class="btn-btt" href="#Top"></a>