<div id="change_skin_menu_wrapper" class="change-skin-menu-wrapper wrapper">
          <div class="container">
          <div class="skin-color"><strong>Skin</strong><ul class="change-skin-menu"><li class="default"><a href="#change-skin/default" class="change-skin-button color-default">Default Style</a></li><li class="green"><a href="#change-skin/green" class="change-skin-button color-green">Green</a></li><li class="orange"><a href="#change-skin/orange" class="change-skin-button color-orange">Orange</a></li><li class="cyan"><a href="#change-skin/cyan" class="change-skin-button color-cyan">Cyan</a></li><li class="violet"><a href="#change-skin/violet" class="change-skin-button color-violet">Violet</a></li></ul></div><div class="layout"><strong>Layout Boxed</strong><label class="switch-btn"><span id="layout-default" class="btn btn-default change-layout-button  active">No</span><span id="layout-boxed" class="btn btn-default change-layout-button ">Yes</span></label></div><div class="background"><strong>Background</strong><ul class="change-background"><li class="bg-default active"><a href="#change-background/bg-default" class="change-background-button">Default</a></li><li class="bg-1"><a href="#change-background/bg-1" class="change-background-button">Background 1</a></li><li class="bg-2"><a href="#change-background/bg-2" class="change-background-button">Background 2</a></li><li class="bg-3"><a href="#change-background/bg-3" class="change-background-button">Background 3</a></li><li class="bg-4"><a href="#change-background/bg-4" class="change-background-button">Background 4</a></li><li class="bg-5"><a href="#change-background/bg-5" class="change-background-button">Background 5</a></li><li class="bg-6"><a href="#change-background/bg-6" class="change-background-button">Background 6</a></li><li class="bg-7"><a href="#change-background/bg-7" class="change-background-button">Background 7</a></li></ul></div></div></div>          
         <section id="headline" class="headline section">
        <div class="container">
            <div class="region region-headline">

<div id="block-menu-menu-social-menu" class="block block-menu">
  
  	<div class="content">
  		[[*context_key:isnot=`c`:then=`
	  		<p>[[++[[*context_key]]phone]] &nbsp;|&nbsp; <a href="[[++[[*context_key]]googlemaps]]" target="_blank">[[++[[*context_key]]street]] [[++[[*context_key]]city]], [[++[[*context_key]]state]] [[++[[*context_key]]ip]]</a></p>  
  		`]]
		</div>

  
	
</div>
</div>
        </div>
      </section>
				 <header id="header" class="header section navbar navbar-default">
      <div class="container">
      
  
					<a href="[[~[[++site_start]]]]" title="Home" rel="home" id="logo">
          	<img src="[[++[[*context_key]]logo]]" alt="[[++site_name]] Logo" />
          </a>
			
          
        
        
        
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu-inner">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <nav class="collapse navbar-collapse width" id="main-menu-inner">
              <div class="region region-main-menu">
    <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu">
    
  <div class="content">
    <div  class="tb-megamenu tb-megamenu-main-menu">

    	[[!Wayfinder? &startId=`0` &level=`2` &outerClass=`tb-megamenu-nav nav level-0` &where=`{"template:!=":15}` &sortBy=`menuindex` ]]
    
					</div>
    
    
  </div>
</div>
  </div> 
          </nav>
              </div>
    </header>
					
					[[*id:isnot=`[[++site_start]]`:then=`
						[[*header_image:isnot=``:then=`
						
							 <section id="title-wrapper" class="section" 
							 style="background-image: url([[*header_image]]);"
						 >
						`:else=`
							 [[*id:is=`64`:or:if=`[[*parent]]`:is=`64`:or:if=`[[UltimateParent? &topLevel=`2`]]`:is=`64`:then=`
							 	<section id="title-wrapper" class="section" 
								 style="background-image: url(/assets/img/c/general/uswc_header_dallas.jpg);"
								 >
							 `:else=`
								 	<section id="title-wrapper" class="section" 
						 style="background-image: url(/assets/img/c/general/uswc_header_houston.jpg);"
						 >
							 `]]
						
						
							
						`]]
						 
							<div class="container">
	            	    
							</div>
						</section>
						
						[[*template:is=`6`:then=`
							<div id="contact_map_container">
								[[*contact_map]]
							</div>
						`]]
						
					`]]
         