<li>  
			<div class="views-field views-field-type-image views-field-field-slideshow">        
				<div class="field-content"><img src="[[+sliderImage]]" width="1600" height="590" alt="" /></div>  </div>  
  </li>