<p>
	<strong><em>Service Request Form</em></strong><br/><br/>
	
	<strong>Property: [[++http_host]]</strong><br/><br/>

  <strong>Name:</strong> [[+servicename]] <br/>
  <strong>Email:</strong> [[+servicemail]]<br/>
  <strong>Phone:</strong> [[+servicephone]]<br/>
  <strong>Apartment Number:</strong> [[+serviceaptno]]<br/>
  <strong>Service Request Details:</strong> [[+servicedetails]]<br/>
  <strong>Alarm Code (if applicable):</strong> [[+servicealarm]]<br/>
  
  
</p>
