<div class="grid views-col col-1 col-first">
            <div class="grid-inner col-inner clearfix">
  
<div class="agent-detail views-fieldset" data-module="views_fieldsets">

  	<div class="views-field views-field-field-full-name">
  		<div class="field-content">[[+pagetitle]]</div>
  	</div>  
  	<div class="views-field views-field-field-office">
  		<div class="field-content team_title">[[+tv.team_title]]</div>
  	</div>  
  	<div class="views-field views-field-field-office">
  		<div class="field-content">
	  		[[+introtext:is=``:then=`[[+content::ellipsis=`100`]]`:else=`[[+introtext]]`]]
  		</div>
  	</div> 
  	<div class="views-field views-field-field-office">
  		<div class="field-content team_readmore">
	  		<a href="[[~[[+id]]]]" title="Read more about [[+pagetitle]]">Read More</a>
  		</div>
  	</div> 
  		
  	  	 		
</div>

              </div>
          </div>