<div class="grid views-col col-1 col-first">
            <div class="grid-inner col-inner clearfix">
                
          
<div class="property-image-group views-fieldset" data-module="views_fieldsets">

  
  	<div class="views-field views-field-field-image"><div class="field-content"><a href="[[~[[+id]]]]" target="_blank" title="View Property"><img src="[[+tv.property_thumb]]" width="270" height="180" alt="[[+pagetitle]]" /></a></div></div>  	
 

  
  
</div>

    
  <div class="views-field views-field-title">        <span class="field-content">[[+pagetitle]]</span>  </div>  
          


    
          
<div class="property-info-group views-fieldset" data-module="views_fieldsets">

  
  	<div class="views-field views-field-field-lot-area">
  		<span class="views-label views-label-field-lot-area">[[*id:is=`63`:then=`[[+tv.property_units]] Units `:else=`
  		[[+tv.property_sf2:isnt=``:then=`SF: [[+tv.property_sf2]]`<br />]]
  		[[+tv.property_nra:isnt=``:then=`NRA: [[+tv.property_nra]]`]]
  		
  		`]]</span><br />
  		<span class="views-label views-label-field-lot-area">[[+tv.property_city]], [[+tv.property_state]]</span>
  	</div>  	
	
  
  
</div> 

              </div>
          </div>