<div class="grid views-col col-1 col-first">
  <div class="grid-inner col-inner clearfix">
    <div class="property-image-group views-fieldset" data-module="views_fieldsets">  
    	<div class="views-field views-field-field-image">
        <div class="field-content"><a href="[[+floorplanPDF]]" target="_blank" title="View PDF"><img src="[[+floorplanThumb]]" width="270" height="180" alt="[[+floorplanName]]" />
          <div class="icon_pdf" style="display:none;">&nbsp;</div></a>
        </div>
      </div>
    </div>
    <div class="views-field views-field-title"><span class="field-content">[[+floorplanName]]</span><span style="position: relative;float: right;"><div class="field-content">[[+floorplanPrice]]</div></span></div>
    <div class="property-info-group views-fieldset" data-module="views_fieldsets">  
    	<div class="views-field views-field-field-lot-area">
        <span class="views-label views-label-field-lot-area">Sq. Ft.</span>
        <div class="field-content">[[+floorplanFeet]]</div>
      </div>
      <!-- begin my edits -->
      <div class="views-field views-field-field-lot-area">
        <span class="views-label views-label-field-lot-area"></span>
        
      </div>    
      <!-- end my edits -->
      <div class="views-field views-field-field-bathrooms property-bathroom-icon">
        <div class="field-content">[[+floorplanBath]]</div>
      </div>
    	<div class="views-field views-field-field-bedrooms property-bedroom-icon">
    	 <div class="field-content">[[+floorplanBed]]</div>
      </div>
    </div>
  </div>
</div>