<li data-gmapping='{"id":"m_[[+id]]","latlng":{"lat":[[+tv.property_latitude]],"lng":[[+tv.property_longitude]]},"tags":"[[*pagetitle]]"}'>
<div class="info-box">
	<strong>[[+pagetitle]]</strong> <br /><br />
	[[+tv.property_units:isnt=``:then=`[[+tv.property_units]] Units <br />`]]
	[[+tv.property_sf:isnt=``:then=`[[+tv.property_sf]] SF<br />`]] 
	[[+tv.property_sf2:isnt=``:then=`SF: [[+tv.property_sf2]]<br />`]] 
	[[+tv.property_nra:isnt=``:then=`NRA: [[+tv.property_nra]]<br />`]] 
	Purchased: [[+tv.property_purchased]]<br />
  [[+tv.property_sale:isnt=``:then=`Sale Date: [[+tv.property_sale]]<br />`]] 
  [[+tv.property_projected:is=`Yes`:then=`Projected `]][[+tv.property_roe:isnt=``:then=`ROE: [[+tv.property_roe]]`]]<br />
  <a href="[[~[[+id]]]]" title="View profile">View profile</a>
</div>
</li>