<p>
	<strong><em>Investor Information Request</em></strong><br/><br/>

  <strong>First Name:</strong> [[+fname]] <br/>
  <strong>Last Name:</strong> [[+lname]] <br/>
  <strong>Email:</strong> [[+email]]<br/>
  <strong>Phone:</strong> [[+phone]]<br/>
  <strong>Comments:</strong> [[+infocomments]]<br/>
  
  
</p>
