/* COLORS */
/* font size */
/* font */
/* effect */
/* button */
/* menu */
/* line 3, ../sass/menu.scss */
#main-menu-inner {
  padding: 0;
  float: right;
}
/* line 6, ../sass/menu.scss */
#main-menu-inner .menu {
  padding-left: 0;
  margin-bottom: 0;
  /*.expanded{
  	> a {
  		padding-right: 30px;
  		&:before{
  			@include fontawesome;
  			content: "\f107";
  			position: absolute;
  			right: 11px;
  			top: 50%;
  			margin-top: -5px;
  			color: $dark;
  			line-height: 10px;
  			width: 10px;
  			height: 10px;
  		}
  	}
  }
  */
}
/* line 9, ../sass/menu.scss */
#main-menu-inner .menu > li {
  padding: 0;
  margin-left: 0;
  display: block;
  float: left;
  position: relative;
  list-style-image: none;
  list-style-type: none;
}
/* line 17, ../sass/menu.scss */
#main-menu-inner .menu > li > a {
  display: block;
  padding: 30px 15px;
  line-height: 21px;
  text-transform: uppercase;
  font-size: 0.928em;
  color: #333333;
}
/* line 24, ../sass/menu.scss */
#main-menu-inner .menu > li > a:hover, #main-menu-inner .menu > li > a:focus {
  color: #d94949;
}
/* line 29, ../sass/menu.scss */
#main-menu-inner .menu > li .active {
  color: #d94949;
}
/* line 32, ../sass/menu.scss */
#main-menu-inner .menu > li:first-child {
  border-left: none;
}
/* line 39, ../sass/menu.scss */
#main-menu-inner .menu > li:hover > a, #main-menu-inner .menu > li:focus > a {
  color: #d94949;
}
/* line 41, ../sass/menu.scss */
#main-menu-inner .menu > li:hover > a:before, #main-menu-inner .menu > li:focus > a:before {
  color: white;
}
/* line 45, ../sass/menu.scss */
#main-menu-inner .menu > li:hover ul.menu, #main-menu-inner .menu > li:focus ul.menu {
  display: block;
}
/* line 68, ../sass/menu.scss */
#main-menu-inner .menu ul.menu {
  position: absolute;
  z-index: 999;
  width: 220px;
  left: 0;
  top: 80px;
  background-color: #111111;
  display: none;
  /*.expanded{
  	> a {
  		&:before{
  			content: "\f105";
  			color: $white;
  			right: 15px;
  		}
  	}
  }
  */
}
/* line 76, ../sass/menu.scss */
#main-menu-inner .menu ul.menu li {
  float: none;
  position: relative;
  margin-left: 0;
}
/* line 80, ../sass/menu.scss */
#main-menu-inner .menu ul.menu li a {
  background: none;
  text-transform: none;
  padding: 10px 15px;
  color: white;
}
/* line 85, ../sass/menu.scss */
#main-menu-inner .menu ul.menu li a:hover, #main-menu-inner .menu ul.menu li a:focus {
  color: white;
  background: #d94949;
}
/* line 91, ../sass/menu.scss */
#main-menu-inner .menu ul.menu li:hover > a, #main-menu-inner .menu ul.menu li:focus > a {
  color: white;
  background: #d94949;
}
/* line 94, ../sass/menu.scss */
#main-menu-inner .menu ul.menu li:hover > a:before, #main-menu-inner .menu ul.menu li:focus > a:before {
  color: white;
}
/* line 98, ../sass/menu.scss */
#main-menu-inner .menu ul.menu li:hover ul.menu, #main-menu-inner .menu ul.menu li:focus ul.menu {
  display: block;
}
/* line 113, ../sass/menu.scss */
#main-menu-inner .menu ul.menu ul.menu {
  left: 201px;
  top: 10px;
  display: none;
}

/* tb mega menu */
/* line 125, ../sass/menu.scss */
.tb-megamenu {
  background: none;
  /*nav */
  /* end nav */
  /* dropdown menu */
  /* end dropdown menu */
}
/* line 130, ../sass/menu.scss */
.tb-megamenu .nav > li > a {
  display: block;
  line-height: 21px;
  padding: 30px 15px;
  text-transform: uppercase;
  color: #333333;
  border-right: none;
  font-weight: normal;
  position: relative;
  font-size: 0.928em;
}
/* line 140, ../sass/menu.scss */
.tb-megamenu .nav > li > a:hover, .tb-megamenu .nav > li > a:focus {
  background: none;
  color: #d94949;
}
/* line 145, ../sass/menu.scss */
.tb-megamenu .nav > li > a > .caret:before {
  position: absolute;
  top: 20px;
  right: 0;
}
/* line 154, ../sass/menu.scss */
.tb-megamenu .nav > .active > a {
  background: none;
  color: #d94949;
}
/* line 157, ../sass/menu.scss */
.tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
  background: none;
  color: #d94949;
}
/* line 164, ../sass/menu.scss */
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  background: none;
  color: #d94949;
}
/* line 172, ../sass/menu.scss */
.tb-megamenu .nav > li.dropdown > .dropdown-toggle .caret {
  border: none;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 11px;
  top: 11px;
  margin: 0;
}
/* line 180, ../sass/menu.scss */
.tb-megamenu .nav > li.dropdown > .dropdown-toggle .caret:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f107";
  color: #333333;
}
/* line 189, ../sass/menu.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
  color: #d94949;
}
/* line 194, ../sass/menu.scss */
.tb-megamenu .nav li.dropdown.active > a:hover, .tb-megamenu .nav li.dropdown.active > a:focus, .tb-megamenu .nav li.dropdown.open.active > a:hover, .tb-megamenu .nav li.dropdown.open.active > a:focus {
  background: none;
  color: #d94949;
}
/* line 204, ../sass/menu.scss */
.tb-megamenu .dropdown-menu {
  border: none;
  background: #111111;
  color: white;
}
/* line 210, ../sass/menu.scss */
.tb-megamenu .dropdown-menu li > a {
  border-top: none;
  color: white;
  padding: 10px 15px !important;
  font-size: 0.928em;
}
/* line 215, ../sass/menu.scss */
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
  background-color: #d94949;
  color: white;
}
/* line 222, ../sass/menu.scss */
.tb-megamenu .dropdown-menu .active > a {
  color: white;
  background: none;
}
/* line 225, ../sass/menu.scss */
.tb-megamenu .dropdown-menu .active > a:hover, .tb-megamenu .dropdown-menu .active > a:focus {
  color: white;
  background: none;
}
/* line 231, ../sass/menu.scss */
.tb-megamenu .dropdown-menu .mega-inner {
  padding: 0 !important;
}
/* line 234, ../sass/menu.scss */
.tb-megamenu .dropdown-menu .block-inner {
  padding: 15px 10px;
}
/* line 236, ../sass/menu.scss */
.tb-megamenu .dropdown-menu .block-inner h2 {
  font-size: 1.142em;
  margin-bottom: 10px;
}
/* line 240, ../sass/menu.scss */
.tb-megamenu .dropdown-menu .block-inner a {
  color: white;
  display: inline-block;
  padding: 0;
}
/* line 244, ../sass/menu.scss */
.tb-megamenu .dropdown-menu .block-inner a:hover, .tb-megamenu .dropdown-menu .block-inner a:focus {
  color: #d94949;
}
/* line 254, ../sass/menu.scss */
.tb-megamenu .dropdown-submenu:hover > a, .tb-megamenu .dropdown-submenu:focus > a {
  color: white;
  background-color: #d94949;
}
/* line 259, ../sass/menu.scss */
.tb-megamenu .dropdown-submenu:hover > a.dropdown-toggle:before, .tb-megamenu .dropdown-submenu:focus > a.dropdown-toggle:before {
  color: white;
}
/* line 264, ../sass/menu.scss */
.tb-megamenu .dropdown-submenu > a.dropdown-toggle {
  padding-right: 15px !important;
}
/* line 266, ../sass/menu.scss */
.tb-megamenu .dropdown-submenu > a.dropdown-toggle:after {
  display: none;
}
/* line 269, ../sass/menu.scss */
.tb-megamenu .dropdown-submenu > a.dropdown-toggle:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f105";
  color: white;
  position: absolute;
  right: 5px;
  top: 10px;
}
/* line 278, ../sass/menu.scss */
.tb-megamenu .dropdown-submenu .dropdown-menu {
  margin-top: 0;
  margin-left: 0;
}

/* line 286, ../sass/menu.scss */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #999999;
  background: none;
}
