[[$head]]
  <div id="page">
    [[$header]]
     <section id="main" class="main section amenities">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1">
              [[*amenities_list_1]]
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1">
              [[*amenities_list_2]]
          </div>
         </div>
      </div>
    </section>
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>