[[$head]]
  <div id="page">
    [[$header]]
    
    <section id="main" class="main section">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          <div class="col-md-12">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  <div class="region region-content">
    <div id="block-block-6" class="block block-block animation">
    
  <div class="content">
    <div class="contact-content contact-content-full">
<div class="row">
<div class="col-md-4">
<h4>Office Hours</h4>
<address>
[[*contact_hours]]
</address>
</div>
<div class="col-md-4">
<h4>Contact</h4>
	<address>
		Phone: [[++[[*context_key]]phone]]<br />
		[[++[[*context_key]]fax:isnot=``:then=`
				Fax: [[++[[*context_key]]fax]]<br />
		`]]
		Email: <a href="mailto:[[++[[*context_key]]email]]">[[++[[*context_key]]email]]</a>
	</address>
</div>
<div class="col-md-4">
<h4>Address</h4>
<address>

	<address>
		<a href="[[++[[*context_key]]googlemaps]]" target="_blank">
			[[++[[*context_key]]street]]<br />
			[[++[[*context_key]]city]], [[++[[*context_key]]state]] [[++[[*context_key]]zip]]
		</a>
	</address>

</address>
</div>
</div></div>
  </div>
</div>

  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
     
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>