[[$head]]
  <div id="page">
    [[$header]]
     <section id="main" class="main section amenities contact">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1">
          		<img src="/assets/img/c/general/office_houston.jpg" />
              <h3>[[++coffice1]]</h3>
              <address>
              <a href="[[++cgooglemaps1]]" target="_blank">[[++cstreet1]] <br />
              [[++ccity1]], [[++cstate1]] [[++czip1]]</a><br />
							Phone: [[++cphone1]]<br />
							[[++cfax1:isnot=``:then=`
									Fax: [[++cfax1]]<br />
							`]]
							Email: <a href="mailto:[[++cemail1]]">[[++cemail1]]</a><br /><br />
						</address>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1">
          		<img src="/assets/img/c/general/office_dallas.jpg" />
              <h3>[[++coffice2]]</h3>
              <address>
              <a href="[[++cgooglemaps2]]" target="_blank">[[++cstreet2]] <br />
              [[++ccity2]], [[++cstate2]] [[++czip2]]</a><br />
							Phone: [[++cphone2]]<br />
							[[++cfax2:isnot=``:then=`
									Fax: [[++cfax2]]<br />
							`]]
							Email: <a href="mailto:[[++cemail12]]">[[++cemail2]]</a><br /><br />
						</address>
          </div>
         </div>
      </div>
    </section>
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>