[[$head]]
  <div id="page">
    [[$header]]
     <section id="main" class="main section">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          <div class="col-md-12">
            <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  
                	<div class="region region-content">
										<div id="block-system-main" class="block block-system">
											<div class="content">
												<div class="view view-properties view-id-properties view-display-id-page properties-grid-page animation view-dom-id-cf6e4330c9c41e095dca1bf871c7440e">
										      <div class="view-content">
										      	<div class="views-view-grid cols-4">
															<div class="views-row row-1 row-first clearfix"> 
																	[[!getImageList?
														        &tvname=`MIGX-floorplans`
														        &tpl=`tpl-migx-floorplans`
														      ]] 
															</div> 
														</div>
													</div>
												</div>  
											</div>
										</div>
									</div>               
								</div>
							</div>
						</div>
          </div>
				</div>
    </section>
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>