[[$head]]
  <div id="page">
    [[$header]]
     <section id="main" class="main section amenities">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          <div class="col-lg-12">
	          
	          <div id="galleria">
		          [[!getImageList?
					      &tvname=`MIGX-gallery`
					      &tpl=`@CODE: <img src="[[+galleryImage]]"/>`
					    ]]   
	          </div>
	          
             <script>

					    // Load the classic theme
					    Galleria.loadTheme('/assets/js/galleria.classic.min.js');
					
					    // Initialize Galleria
					    Galleria.run('#galleria');
					
					    </script>

          </div>
         </div>
      </div>
    </section>
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>