[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  
                <div class="region region-content">
    <div id="block-system-main" class="block block-system">
    
  <div class="content">
    <article id="node-14" class="node node-page real-estast-media-first clearfix">

  
      
  
  
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
          <div class="field-item even"><p>[[*content]]</p>
</div>
      </div>
</div>
  </div>

  
  
</article>
  </div>
</div>


  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>