[[$head]]
  <div id="page">
    [[$header]]
    <section id="slideshow" class="slideshow section">
        <div class="container-fluid">
            <div class="region region-slideshow">
    <div id="block-views-slideshow-block-1" class="block block-views">
    
  <div class="content">
    <div class="view view-slideshow view-id-slideshow view-display-id-block_1 view-dom-id-cf211b20f656daf3db6f9ffa75de1a35">
        
  
  
      <div class="view-content">
      <div  id="flexslider-1" class="flexslider">
		  <ul class="slides">
		  	[[!getImageList?
		      &tvname=`MIGX-home`
		      &tpl=`tpl-migx-home`
		    ]]   
			</ul>


</div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
        </div>
      </section>

      
    
      
      <section id="main" class="main section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  
                <div class="region region-content">
    <div id="block-system-main" class="block block-system">
    
  <div class="content">
    <article id="node-14" class="node node-page real-estast-media-first clearfix">

  
      
  
  
  
  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
          <div class="field-item even">[[*content]]
</div>
      </div>
</div>
  </div>

  
  
</article>
  </div>
</div>


  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
      
   
      
      
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>