[[$head]]
  <div id="page">
    [[$header]]
     <section id="main" class="main section">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          <div class="col-md-8">
            <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  
                	<div class="region region-content">
										<div id="block-system-main" class="block block-system">
											<div class="content">
												<div class="view view-properties view-id-properties view-display-id-page properties-grid-page animation view-dom-id-cf6e4330c9c41e095dca1bf871c7440e">
										      <div class="view-content">
										      	<div class="views-view-grid cols-3">
															<div id="investors" class="views-row row-1 row-first clearfix"> 
																[[!+fi.validationErrorMessage]]
 [[!+fi.successMessage]]
																[[*content]]	
																[[!FormIt?
  &hooks=`spam,fiProcessArrays,email`
  &emailTo=`[[*investor_email]]`
  &emailTpl=`tpl-email_information`
  &emailSubject=`You have received a request for information from [[++http_host]]`
  &emailFrom=`noreply@[[++http_host]]`
  &clearFieldsOnSuccess=`0`
  &successMessage=`<span class="success">Your form has been submitted.</span>`
  &validationErrorMessage=`<span class="fail">Please check your submission for errors.</span>`
  &store=`1`
  &storeTime=`1800`
  &validate=`
  username:blank,
  fname:required,
  lname:required,
  email:email:required,
  phone:required`
]] 
[[!FormItRetriever]]

    <form class="user-info-from-cookie contact-form" name="informationrequest" id="informationrequest" method="post" action="[[~[[*id]]]]" >
    <input type="hidden" name="username" value="" /> 
   
    <h3>Information Request</h3> 
    
    <div><div class="contact-form-group"><div class="form-item form-type-textfield form-item-name">
  <label for="fname">First Name<span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="fname" name="fname" value="[[!+fi.fname]]" size="60" maxlength="255" class="form-text"  required>
 [[!+fi.error.fname]]
</div>
<div class="form-item form-type-textfield form-item-subject">
  <label for="lname">Last Name <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="lname" name="lname" value="[[!+fi.lname]]" size="60" maxlength="255" class="form-text" required>
 [[!+fi.error.lname]]
</div>
<div class="form-item form-type-textfield form-item-mail">
  <label for="email">Email Address <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="email" name="email" value="[[!+fi.email]]" size="60" maxlength="255" class="form-text" required >
 [[!+fi.error.email]]
</div>
<div class="form-item form-type-textfield form-item-subject">
  <label for="phone">Phone Number <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="phone" name="phone" value="[[!+fi.phone]]" size="60" maxlength="255" class="form-text " required >
 [[!+fi.error.phone]]
</div>


</div>

<div class="form-item form-type-textarea form-item-message">
    
<label for="infocomments">Comments <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-textarea-wrapper resizable"><textarea id="infocomments" name="infocomments" cols="60" rows="5" class="form-textarea ">[[!+fi.infocomments]]</textarea></div>
 [[!+fi.error.infocomments]]




</div>

<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" name="informationrequest" value="Submit Request" class="form-submit" /></div></div></form>
															</div> 
														</div>
													</div>
												</div>  
											</div>
										</div>
									</div>               
								</div>
							</div>
						</div><!--/.col9-->
          <aside id="sidebar-first" class="sidebar col-md-4">
              <div class="section">
                  <div class="region region-sidebar-first">  
										<div id="block-views-posts-by-category-block--2" class="block block-views animation">
											 <div class="content leasing_sidebar">
												 <div class="view view-posts-by-category view-id-posts_by_category view-display-id-block view-dom-id-746a667659f1b4e3684bafc5f19dc521">
													 <div class="view-content">
														 <div class="item-list">   
															 [[*investor_sidebar]]
															</div>    
														</div>
													</div>  
												</div>
											</div>
									</div>
              </div>
            </aside>
          </div><!--/.row-->
				</div><!--/.container-->
    </section>
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>