[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          
                      <aside id="sidebar-first" class="sidebar col-md-4">
              <div class="section">
                  <div class="region region-sidebar-first">
  
<div id="block-views-posts-by-category-block--2" class="block block-views animation">

  
  <div class="content leasing_sidebar">
    <div class="view view-posts-by-category view-id-posts_by_category view-display-id-block view-dom-id-746a667659f1b4e3684bafc5f19dc521">
        
  
  
      <div class="view-content"> 
      <div class="item-list">    
      <ul>          
      <li class="views-row views-row-1 views-row-odd ">  
		  	<h2>Office Hours</h2>
		  	[[*leasing_hours]]
			</li>
[[*leasing_rental_critieria:isnot=``:then=`
	<li class="views-row views-row-1 views-row-odd ">  
			<h2>Rental Criteria<a href="[[*leasing_rental_critieria]]" class="view_leasing" title="View Rental Criteria PDF">View</a></h2>
		</li>
`]]
		
		<li class="views-row views-row-1 views-row-odd ">  
				<h2>Pet Policy<a href="[[*leasing_pet_policy_pdf]]" class="view_leasing" title="View Pet Policy PDF">View</a></h2>
				[[*leasing_pet_policy_desc]]
		</li>
		
    </ul></div>    </div>
  
  
  
  
  
  
</div>  </div>
</div>

  </div>
              </div>
            </aside>
                      <div class="col-md-8">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div> 
                [[*leasing_sitemap:isnt=``:then=`
                <img src="[[*leasing_sitemap]]" alt="" />
                <a class="icon_pdf_leasing" href="[[*leasing_sitemap_pdf]]" target="_blank" title="View PDF">
	                <div class="icon"></div>
                </a>
                `]]
                
                                                                                 <div class="region region-content">
    
  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>