[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          
                      <aside id="sidebar-first" class="sidebar col-md-4">
              <div class="section">
                  <div class="region region-sidebar-first">
  
<div id="block-views-posts-by-category-block--2" class="block block-views animation">

  
  <div class="content leasing_sidebar">
    <div class="view view-posts-by-category view-id-posts_by_category view-display-id-block view-dom-id-746a667659f1b4e3684bafc5f19dc521">
        
  
  
      <div class="view-content">
      <div class="item-list">   
      <h2>Map Key</h2> 
      <span class="homekey">
      	[[*context_key:is=`p4`:then=`<img src="/assets/img/elements/Property_Key_Map_Icon_v2_30x30.png"/> [[++site_name]]`]]
      	
      	[[*context_key:is=`p8`:then=`<img src="/assets/img/elements/Property_Key_Map_Icon_v3_30x30.png"/> [[++site_name]]`]]
      	
      	[[*context_key:isnt=`p8`:and:isnt=`p4`:then=`<img src="/assets/img/elements/Property_Key_Map_Icon_30x30.png"/> [[++site_name]]`]]
      	
      </span>
      [[*neighborhood_key]]
      </div>    </div>
  
  
  
  
  
  
</div>  </div>
</div>

  </div>
              </div>
            </aside>
                      <div class="col-md-8">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div> 
                <img src="[[*neighborhood_map]]" alt="" />
                                                                                                <div class="region region-content">
    
  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>