[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section property_detail">
      <div class="container">
	        <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
			      <a href="[[~[[UltimateParent? &topLevel=`2`]]]]" class="back_button" title="Back">&lsaquo;&lsaquo; Back</a>	
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
        
          
                      <aside id="sidebar-first" class="sidebar col-md-4">
              <div class="section">
                  <div class="region region-sidebar-first">
  
<div id="block-views-posts-by-category-block--2" class="block block-views animation">

  
  <div class="content leasing_sidebar">
    <div class="view view-posts-by-category view-id-posts_by_category view-display-id-block view-dom-id-746a667659f1b4e3684bafc5f19dc521">
        
  
  
      <div class="view-content"> 
      <div class="item-list">    
      <ul>          
      <li class="views-row views-row-1 views-row-odd ">  
		  	<img src="[[*property_thumb]]" />
		  	
			</li>
    </ul></div>    </div>
  
  
  
  
  
  
</div>  </div>
</div>

  </div>
              </div>
            </aside>
                      <div class="col-md-8">
                                    <div id="content" class="column property_detail">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div> 
                [[*property_street]]<br />
                [[*property_city]], [[*property_state]] [[*property_zip]]<br />
                <br />
                [[*property_units:isnt=``:then=`[[*property_units]] Units <br />`]]
                [[*property_sf:isnt=``:then=`[[*property_sf]] SF<br />`]]
                [[*property_sf2:isnt=``:then=`SF: [[*property_sf2]]<br />`]]
                [[*property_nra:isnt=``:then=`NRA: [[*property_nra]]<br />`]]
                <br />
                Purchase Date: [[*property_purchased]]<br />
                [[*property_sale:isnt=``:then=`Sale Date: [[*property_sale]]<br />`]]
                [[*property_projected:is=`Yes`:then=`Projected `]][[*property_roe:isnt=``:then=`ROE: [[*property_roe]]`]]<br /> 
                [[*content]]
                               
                
                
                <div class="region region-content">
    
  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>