[[$head]]
  <div id="page">
    [[$header]]
     <section id="main" class="main section">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
          <div class="col-md-9">
            <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  
                	<div class="region region-content">
										<div id="block-system-main" class="block block-system">
											<div class="content">
												<div class="view view-properties view-id-properties view-display-id-page properties-grid-page animation view-dom-id-cf6e4330c9c41e095dca1bf871c7440e">
										      <div class="view-content">
										      	<div class="views-view-grid cols-3">
															<div id="properties" class="views-row row-1 row-first clearfix"> 
																[[!getResources? 
																	&parents=`[[*id]]` 
																	&where=`{"template:=":9}` 
																	&tpl=`tpl-gr-properties`
																	&includeTVs=`1`
																	&processTVs=`1`
																	&limit=`1000`
																	&sortby=`{"publishedon":"ASC"}`
																]]
															</div> 
														</div>
													</div>
												</div>  
											</div>
										</div>
									</div>               
								</div>
							</div>
						</div><!--/.col9-->
          <aside id="sidebar-first" class="sidebar col-md-3">
              <div class="section">
                  <div class="region region-sidebar-first">  
										<div id="block-views-posts-by-category-block--2" class="block block-views animation">
											 <div class="content leasing_sidebar">
												 <div class="view view-posts-by-category view-id-posts_by_category view-display-id-block view-dom-id-746a667659f1b4e3684bafc5f19dc521">
													 <div class="view-content">
														 <div class="item-list">   
															 <h2>View by Map Location</h2> 
															 [[!getResources? 
																	&parents=`[[*id]]` 
																	&where=`{"template:=":12}` 
																	&tpl=`tpl-gr-property_locations`
																	&sortby=`{"publishedon":"ASC"}`
																]]
															</div>    
														</div>
													</div>  
												</div>
											</div>
									</div>
              </div>
            </aside>
          </div><!--/.row-->
				</div><!--/.container-->
    </section>
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>