[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section property_map">
      <div class="container">
	      <div class="row">
		      <div class="col-lg-12">
			      <h1>[[*pagetitle]]</h1>
			      <a href="[[~[[*parent]]]]" class="back_button" title="Back">&lsaquo;&lsaquo; Back</a>	
		      </div><!--/.col12-->
	      </div><!--/.row-->
        <div class="row">
        	
          <div class="col-md-12">
            <div id="content" class="column">
              
              <div id="map_canvas"></div>
                                      
              <ul style="display:none;">
              	
              [[!getResources? 
								&parents=`[[*id]]` 
								&tpl=`tpl-gr-property_map`
								&includeTVs=`1`
								&processTVs=`1`
								&limit=`1000`
							]]
              </ul>

            </div>
          </div>
          </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>