[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section">
      <div class="container">
        <div class="row">
        
          <div class="col-md-8">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div> 
                        
                        
                        <div id="block-system-main" class="block block-system">
    
  <div class="content">
  	
  	

[[!FormIt?
  &hooks=`spam,fiProcessArrays,email`
  &emailTo=`shonna@keystoneresources.com`
  &emailTpl=`tpl-email_service`
  &emailSubject=`You have received a service request from `
  &emailFrom=`noreply@p1.uswc.keystoneresources.modxcloud.com`
  &submitVar=`serviceform`
  &clearFieldsOnSuccess=`0`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`1800`
  &validate=`
  username:blank,
  serviceemail:email:required,
  servicename:required,
  servicephone:required,
	serviceaptno:required,
	servicedetails:required`
]] 
[[!FormItRetriever]]
 [[!+fi.successMessage]]
    <form class="user-info-from-cookie contact-form" name="serviceform" id="serviceform" method="post" action="[[~[[*id]]]]" accept-charset="UTF-8">
    <input type="hidden" name="username" value="" />
   
    <h3>Service Request</h3> 
    
    <div><div class="contact-form-group"><div class="form-item form-type-textfield form-item-name">
  <label for="servicename">Full Name<span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="servicename" name="servicename" value="[[!+fi.servicename]]" size="60" maxlength="255" class="form-text required" />
 [[!+fi.error.servicename]]
</div>
<div class="form-item form-type-textfield form-item-mail">
  <label for="servicemail">Email Address <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="servicemail" name="servicemail" value="[[!+fi.servicemail]]" size="60" maxlength="255" class="form-text required" />
 [[!+fi.error.servicemail]]
</div>
<div class="form-item form-type-textfield form-item-subject">
  <label for="servicephone">Phone Number <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="servicephone" name="servicephone" value="[[!+fi.servicephone]]" size="60" maxlength="255" class="form-text required" />
 [[!+fi.error.servicephone]]
</div>
<div class="form-item form-type-textfield form-item-subject">
  <label for="serviceaptno">Apartment Number <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="serviceaptno" name="serviceaptno" value="[[!+fi.serviceaptno]]" size="60" maxlength="255" class="form-text required" />
 [[!+fi.error.serviceaptno]]
</div>

</div><div class="form-item form-type-textarea form-item-message">
  <label for="servicedetails">Service Request Details <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-textarea-wrapper resizable"><textarea id="servicedetails" name="servicedetails" cols="60" rows="5" class="form-textarea required">[[!+fi.servicedetails]]</textarea></div>
 [[!+fi.error.servicedetails]]
 <div class="form-item form-type-textfield form-item-subject">
  <label for="servicealarm" class="servicealarm_label">Alarm Code (if applicable)</label>
 <input type="text" id="servicealarm" name="servicealarm" value="[[!+fi.servicealarm]]" size="60" maxlength="255" class="form-text" />
 [[!+fi.error.servicealarm]]
</div>
</div>

<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" name="serviceform" value="Submit Request" class="form-submit" /></div></div></form>  </div>
</div>
                                  
              </div>
            </div>
          </div>
          <aside id="sidebar-first" class="sidebar col-md-4">
              <div class="section">
                  <div class="region region-sidebar-first">
  
<div id="block-views-posts-by-category-block--2" class="block block-views animation">

  
  <div class="content leasing_sidebar">
    <div class="view view-posts-by-category view-id-posts_by_category view-display-id-block view-dom-id-746a667659f1b4e3684bafc5f19dc521">
        
  
  
      <div class="view-content">
      <div class="item-list">    
      <ul>          
		<li class="views-row views-row-1 views-row-odd ">  
			<h2>Community Guidelines<a href="[[*residents_guidelines_pdf]]" class="view_leasing" title="View Community Guidelines PDF">View</a></h2>
		</li>
		<li class="views-row views-row-1 views-row-odd ">  
				<h2>Shout a Compliment<br />Share a Concern</h2>
				
			
[[!FormIt?
  &hooks=`spam,fiProcessArrays,email`
  &emailTo=`shonna@keystoneresources.com`
  &emailTpl=`tpl-email_share`
  &emailSubject=`You have received a service request from`
  &emailFrom=`noreply@p1.uswc.keystoneresources.modxcloud.com`
  &submitVar=`shareform`
  &clearFieldsOnSuccess=`0`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`1800`
  &validate=`
  username:blank,
  shareemail:email:required,
  sharename:required,
  sharephone:required,
	sharemessage:required`
]] 
[[!FormItRetriever]]
				<form class="user-info-from-cookie contact-form" name="shareform" id="shareform" method="post" action="[[~[[*id]]]]"  accept-charset="UTF-8">
				<input type="hidden" name="username" value="" />
    
    <div><div class="contact-form-group"><div class="form-item form-type-textfield form-item-name">
  <label for="sharename">Full Name <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="sharename" name="sharename" value="[[!+fi.sharename]]" size="60" maxlength="255" class="form-text required" />
  [[!+fi.error.sharename]]
</div>
<div class="form-item form-type-textfield form-item-mail">
  <label for="shareemail">Email Address <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="shareemail" name="shareemail" value="[[!+fi.shareemail]]" size="60" maxlength="255" class="form-text required" />
  [[!+fi.error.shareemail]]
</div>
<div class="form-item form-type-textfield form-item-subject">
  <label for="sharephone">Phone Number <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="sharephone" name="sharephone" value="[[!+fi.sharephone]]" size="60" maxlength="255" class="form-text required" />
  [[!+fi.error.sharephone]]
</div>
<div class="form-item form-type-textfield form-item-subject">
  <label for="sharemessage">Compliment or Concern <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" id="sharemessage" name="sharemessage" value="[[!+fi.sharemessage]]" size="60" maxlength="255" class="form-text required" />
  [[!+fi.error.sharemessage]]
</div>
</div>

<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" name="shareform" value="Send" class="form-submit" /></div></div></form>
		</li>
		
    </ul></div>    </div>
  
  
  
  
  
  
</div>  </div>
</div>

  </div>
              </div>
            </aside>
          
          </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>