[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  
                <div class="region region-content">
    <div id="block-system-main" class="block block-system">
    
  <div class="content">
    <article id="node-14" class="node node-page real-estast-media-first clearfix">

  
      
  
  
  
  <div class="content">
  	<a href="[[~59]]" class="back_button" title="Back">&lsaquo;&lsaquo; Back</a>		
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
          <div class="field-item even">
          <div class="agent-detail views-fieldset" data-module="views_fieldsets">

				
 	 <div class="views-field views-field-field-full-name">
  		<div class="field-content team_title" ><h1>[[*pagetitle]]</h1></div>
  	</div>  
  	<div class="views-field views-field-field-office">
  		<div class="field-content team_title" >[[*team_title]]</div>
  	</div>  	
  			
  	  	  	<div class="views-field views-field-field-email"><div class="field-content team_title">Email: <a href="mailto:[[*team_email]]">[[*team_email]]</a></div></div>  
  
</div>
          
          <p>[[*content]]</p>
</div>
      </div>
</div>
  </div>

  
  
</article>
  </div>
</div>


  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>