[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section team">
      <div class="container">
        <div class="row">
	        <div class="row">
			      <div class="col-lg-12">
				      <h1>[[*pagetitle]]</h1>
			      </div><!--/.col12-->
		      </div><!--/.row-->
          <div class="col-md-12">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  
                <div class="region region-content">
    <div id="block-system-main" class="block block-system">
    
  <div class="content">
    <article id="node-14" class="node node-page real-estast-media-first clearfix">
				 <section id="panel-second" class="section">
        <div class="container">
            <div class="region region-panel-second">
    <div id="block-views-agents-block" class="block block-views animation">
  
  <div class="content">
    <div class="view view-agents view-id-agents view-display-id-block agent-type aaa view-dom-id-eb868eb6fb21f57d3a9b4f578d87cd09">
        
  
  
      <div class="view-content">
      <div class="views-view-grid cols-2">
      <div class="views-row row-1 row-first row-last clearfix">
      	[[!getResources? 
					&parents=`[[*id]]` 
					&tpl=`tpl-gr-team`
					&includeTVs=`1`
					&processTVs=`1`
					&limit=`1000`
					&sortby=`menuindex`
					&sortdir=`asc`
				]]
      
                        
                                
                  </div>
  </div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
        </div>
      </section>
  
      
  
  
  
 

  
  
</article>
  </div>
</div>


  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>