[[$head]]
  <div id="page">
    [[$header]]
    
    
     <section id="main" class="main section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
                                    <div id="content" class="column">
              <div class="section">
                <a id="main-content"></a>
                <div class="tabs"></div>                                                                  
                <div class="region region-content">
    <div id="block-system-main" class="block block-system">
    
  <div class="content">
    <article id="node-14" class="node node-page real-estast-media-first clearfix">
				 <section id="panel-second" class="section">
        <div class="container">
            <div class="region region-panel-second">
    <div id="block-views-agents-block" class="block block-views ">
  
  <div class="content">
    <div>
        
  
  
      <div class="view-content">
      <div class="views-view-grid cols-1">
      <div class="views-row row-1 row-first row-last clearfix">
                        <div class="grid views-col col-2 col-first">
            <div class="grid-inner col-inner clearfix">
                
   
          
<div class="agent-detail views-fieldset" data-module="views_fieldsets">

 	 <div class="views-field views-field-field-full-name">
  		<div class="field-content team_title" ><strong>[[*pagetitle]]</strong></div>
  	</div>  
  	<div class="views-field views-field-field-office">
  		<div class="field-content team_title" >[[*team_title]]</div>
  	</div>  	
  		
  	<div class="views-field views-field-field-phone">
  		<div class="field-content">Phone: [[*team_phone]]</div>
  	</div>  	
  	  	  	<div class="views-field views-field-field-email"><div class="field-content"><a href="mailto:[[*team_email]]">Email: [[*team_email]]</a></div></div>  
  
</div>

              </div>
          </div>
                                
                  </div>
  </div>
    </div>
  
  
  
  
  
  
</div>  </div>
</div>
  </div>
        </div>
      </section>
  
      
  
  
  
 

  
  
</article>
  </div>
</div>


  </div>
                                  
              </div>
            </div>
          </div>
                            </div>
      </div>
    </section>
    
    
    
    
    
    [[$footer]]      
  </div><!--/#page-->
 [[$scripts]]
</body>
</html>