* {
	outline: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#333;
	line-height: 1.6;
}
a{ color:#09F; text-decoration: none; }
a:hover, a:focus{ text-decoration: underline; }
img { max-width: 100%; border: 1px solid #ddd; }
h1{ margin-bottom: 10px; margin-top: 0; font-size: 34px; }
h2{ font-size: 24px; margin-bottom: 10px; }
h3{ font-size: 18px;}
li{ margin-bottom: 7px;}
.container{ padding: 30px; max-width: 1000px; margin: 0 auto; }
dl{ margin-left: 0; }
p{ margin-top: 15px; margin-bottom: 15px; }
.guide_menu{ width: auto; margin-bottom: 10px; }
.guide_menu a{ color: #333; }
.guide_menu a:hover { color:#09F; }
.page-links{ border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; padding: 10px 0; text-align: center; margin-top: 30px; overflow: hidden; }
.page-previous{ float:left; }
.page-next{ float:right; }
.page-links a{ color: #333; }
.page-links a:hover { color:#09F; }